@page "/"

<div class="container">

    <h1 class="display-6">Prueba Tecnica Realizada por Johnny Rondon</h1>
    <br>

    <p>
        La siguiente prueba como se me especifico via correo, consiste 
        en un CRUD sencillo en el cual puedo registrar personas, consultarlas,
        actualizar sus datos o eliminarlas.
        <br><br>

        Las tecnologias principalmente usadas son: <strong>C#, MySQL, Blazorserver y Entity Framework</strong>
    </p>
    <br><br>

    <p>
        Nuevamente Aqui dejo Adjunto mi hoja de vida:
    </p>
    <br>

    <img src="Imagenes/CV-JohnnyRondon.png" alt="" width="700px">
    <br><br>

</div>
