@page "/"

<div class="container">

    <h1 class="display-6">Prueba Tecnica Realizada por Johnny Rondon</h1>
    <br>

    <p>
        La siguiente prueba como se me especifico via correo, consiste
        en un CRUD sencillo en el cual puedo registrar personas, consultarlas,
        actualizar sus datos o eliminarlas.
        <br><br>

        Las tecnologias principalmente usadas son: <strong>C#, MySQL, Blazorserver y Entity Framework</strong>
    </p>
    <br>
    <p>Enlaces a consultar:</p>

    <a href="https://github.com/Joy2301/Johnny-Rondon-Prueba" target="_blank">Codigo en Github</a>
    <br>
    <a href="https://drive.google.com/file/d/1a7t4X6BdeIeVz6GQoCLjR7ppHAO40FoZ/view?usp=sharing" target="_blank">Script de la base de datos</a>

    <br><br>

    <p>
        Nuevamente Aqui dejo Adjunto mi hoja de vida:
    </p>
    <br>

    <img src="Imagenes/CV-JohnnyRondon.png" alt="" width="700">
    <br><br>

</div>
